<div class="card h-100">
  <%= link_to cocktail_path(cocktail), class: "card-link" do %>
    <div class="card bg-dark text-white">
      <%= cl_image_tag cocktail.photo.key, alt: cocktail.name, height: 200, width: 300, crop: :fill, class: "card-img img-thumbnail", style: "linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))" %>
      <div class="card-img-overlay">
        <h2 class="card-title"> <%= cocktail.name %> </h2>
      </div>
    </div>
  <% end %>
</div>