<div class="container">
  <div class="container d-flex justify-content-center mt-4">
    <div class="container mt-5 mb-5 d-flex justify-content-center align-middle">
      <h1> Mister Cocktail <i class="fas fa-cocktail"></i></h1>
    </div>
  </div>

<div class="row row-cols-1 row-cols-md-3">
    <% @cocktails.each do |cocktail|%>
      <div class="col mb-4">
        <%= render 'cocktails/shared/card_gradient', cocktail: cocktail %>
      </div>
    <% end %>
  </div>
</div>