<footer class="mt-3">
  <div class="links">
        <a href="https://github.com/brunaguedes92"><i class="fab fa-fw fa-github"></i></a>
        <p>This website was coded with <i class="fas fa-heart"></i> at Le Wagon.</p>
  </div>
</footer>