<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/brunaguedes92"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/bruna-guedes-895075117/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website was made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>